
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


  <script>
    $(document).ready(function(){
        /*$.ajax({
            url:'/getTopFiveIngByQuant/',
            type:'get',
            data:{},
            success: function(response){
                //console.log(response)
                $("#chart1").html(response);
            }
        });
        $.ajax({
            url:'/getTFRBRC/',
            type:'get',
            data:{},
            success: function(response){
                $("#chart2").html(response);
            }
        });*/
        $.ajax({
            url:'/getMakesPerUserGraph/',
            type:'get',
            data:{},
            success: function(response){
                $("#chart3").html(response);
            }
        });
        $.ajax({
            url:'/getTopUsedIngredients/',
            type:'get',
            data:{},
            success: function(response){
                $("#chart4").html(response);
            }
        });
    });
    function getIngredientTable()
    {
      $.ajax({
          url:'/getFavoriteIngredientGraph/',
          type:'get',
          data:{"username":$("#usernameField").val()},
          success: function(response){
            console.log(response)
              $("#favIngredientsGraphContainer").html(response);
          }
      });
    }

  </script>

  <div class="row">
    <div class="col">
      <h1>Users Favorite Ingredient</h1>
      <form method="POST" action="javascript:void(0);" onsubmit="getIngredientTable()">
        <input type="text" name="username" placeholder="Username" id="usernameField"></input>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <div id="favIngredientsGraphContainer">
        
      </div>
    </div>
  </div>
  <div class="row">
    <h1>Average Makes Per User</h1>
    <div class="col" id="chart3">
    </div>
  </div>
  <div class="row" height="100px">
    <h1>Most Common Ingredients</h1>
    <div class="col chartWarpper" id="chart4" height="100px">
    </div>
  </div>