
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


  <script>
    $(document).ready(function(){
        /*$.ajax({
            url:'/getTopFiveIngByQuant/',
            type:'get',
            data:{},
            success: function(response){
                //console.log(response)
                $("#chart1").html(response);
            }
        });
        $.ajax({
            url:'/getTFRBRC/',
            type:'get',
            data:{},
            success: function(response){
                $("#chart2").html(response);
            }
        });*/
        $.ajax({
            url:'/getMakesPerUserGraph/',
            type:'get',
            data:{},
            success: function(response){
                $("#chart3").html(response);
            }
        });
        $.ajax({
            url:'/getTopUsedIngredients/',
            type:'get',
            data:{},
            success: function(response){
                $("#chart4").html(response);
            }
        });
    });
  </script>

  <div class="row">
    <div class="col" id="chart1">
    </div>
    <div class="col" id="chart2">
    </div>
  </div>
  <div class="row">
    <div class="col" id="chart3">
    </div>
  </div>
  <div class="row" height="100px">
    <div class="col chartWarpper" id="chart4" height="100px">

    </div>
  </div>