{% block content %}

  <div id="container" style="width: 100%;">
    <canvas id="bar-graph-{{chartID}}"></canvas>
  </div>

  <script>
    
    $(document).ready(function(){
      var config = {
        type: 'bar',
        data: {
          datasets: [{
            data: {{ data|safe }},
            backgroundColor: {{backgroundColor|safe}},
            label: "{{ graphLabel|safe }}"
          }],
          labels: {{ labels|safe }}
        },
        options: {
          responsive: true
        }
      };
      var ctx = document.getElementById('bar-graph-{{chartID}}').getContext('2d');
      window.myGraph = new Chart(ctx, config);
    });

  </script>

{% endblock %}