{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

<script type="text/javascript">
    
    function addModalHandler(row, recipe_id)
    {
        row.off("click").click(function(){
            if(!selectionExists() && !($(".modal").data('bs.modal') ||{})._isShown)
            {
                $.ajax({
                    url:'/getRecipeInfo/',
                    type:'get',
                    data:{'recipe_id':recipe_id},
                    success: function(response){
                        //console.log(response)
                        $('.modal').html(response);
                        $('#recipeModal').modal('show'); 
                    }
                });
            }
        });
    }
    function getSearchTerm()
    {
        l = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=')[1];
        if(l == undefined)
        {
            l = ""
        }
        return l
    }
    function getSearchType()
    {
        l = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=')[0];
        if(l == undefined)
        {   
            l = ""
        }
        console.log("returning", l)
        return l
    }
    $(document).ready(function(){

       $('#recipetable').DataTable(
        {
            "processing":true,
            "serverSide":true,
            "ajax": {"url":"/recipeViewData/", "data":{"searchType":getSearchType(), "searchTerm":getSearchTerm()}},//, "dataSrc":""},//, "dataSrc":"Data"}
            "columns":[{"data":"title"}, {"data":"description"}, {"data":"rating"}, {"data":"url"}, {"data":"recipe_id", "visible":false}],
            /*"initComplete": function () {
                console.log("search term: " + getSearchTerm())
                this.api().search(getSearchTerm()).draw()
            },*/
            "createdRow":function(row, data, index){
            addModalHandler($(row), data["recipe_id"])
            },
        });

        $('.dataTables_length').addClass('bs-select');
        
        //addModalHandler()
    });

    $(document).click(function(e)
    {
        if (!$(e.target).closest('.modal-content').length) {
            $('#recipeModal').modal('hide');  
        }
        
    });

    function selectionExists()
    {
        if(window.getSelection){
            return window.getSelection().toString() != "";
        }
        else if(document.selection){
            return document.selection.createRange().text != ""
        }
        return false;
    }
</script>

<div class="modal" id="recipeModal" tabindex="-1" role="dialog"></div>
<div class="row">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
    <div class="col">
        <form action="/" method="get" class="float-right">
            <input name="wcim" hidden="true">
            <button class="btn btn-primary btn-lg mx-auto" type="submit" style="margin-top:.5rem;">What Can I make</button>
        </form>
    </div>
    <div class="col">
        <form action="/addRecipe/" class="float-right">
            <button class="btn btn-primary btn-lg mx-auto" type="submit" style="margin-top:.5rem;">New Recipe</button>
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover" id="recipetable" >
        <thead>
            <tr>
                <th class="th-sm" scope="col">Title</th>
                <th class="th-sm" scope="col">Description</th>
                <th class="th-sm" scope="col">Rating</th>
                <th class="th-sm" scope="col">URL</th>
            </tr>
        </thead>
    </table>
</div>

{% comment %} <div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div> {% endcomment %}